.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    color: rgb(77, 157, 231);
}

.addTask {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.inputTask {
    height: 32px;
    border: 0;
    background-color: rgba(203, 233, 250, 0.685);
    border-radius: 5px;
    width: 330px;
    padding: 2px 5px;
    font-family: monospace;
    font-size: 1.2em;
    border: 2px solid rgb(165, 204, 255);

}

.list {
    display: flex;
    flex-direction: column;
}

.taskNbutton {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}


.button1 {
    height: 35px;
    width: 85px;
    background-color: rgb(90, 168, 240);
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 0 10px;
    font-family: monospace;
    font-size: 1.1em;
}

.button2 {
    height: 25px;
    width: 70px;
    background-color: rgb(240, 95, 11);
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;

}

.button3 {
    height: 25px;
    width: 170px;
    background-color: rgb(3, 163, 11);
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
}

.displaytxt {
    width: 150%;
}